.DS_Store
*.swp
.netrwhist
.emacs.d/
vim/bundle/**
vim/bundles/**
vim/Trashed-Bundles/**
mutt/temp
mutt/passwords.gpg
mutt/cache
mutt/certificates
emacs/.cask
emacs/elpa
emacs/auto-save-list
emacs/modes
emacs/ac-comphist.dat
emacs/config.el
emacs/smex-items
emacs/ido.last
emacs/projectile-bookmarks.eld
emacs/eshell
