snippet xml "XML declaration" b
<?xml version="1.0" encoding="UTF-8"?>
endsnippet

snippet tag "Simple tag" b
<${1:tag}>
    ${2:content}
</${1/([\w:._-]+).*/$1/}>
endsnippet

snippet itag "Inline tag" b
<${1:tag}>${2:content}</${1/([\w:._-]+).*/$1/}>
endsnippet

snippet page "m2 page object" b
<page xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd"
    layout="${1:layout}">
    ${2}
</page>
endsnippet
